<ng-container *ngFor="let panel of panels">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-{{panel.color}}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-{{panel.icon}} fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{panel.title}}</div>
                        <div>{{panel.subTitle}}</div>
                    </div>
                </div>
            </div>
            <a href="{{panel.url}}">
                <div class="panel-footer">
                    <span class="pull-left">{{panel.linkText}}</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</ng-container>